.container {
  display: flex;
  .sidebar-container {
    background-color: #312450;
    min-height: 100vh;
    overflow: hidden;
  }
  .gallery-container {
    flex: 3 1;
    background-color: #5e42a6;
    padding: 40px;
    > h1 {
      color: white;
      margin-bottom: 1rem;
    }
  }
}
