.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  .sidebar-container {
    flex: 1;
    background-color: #312450;
  }
  .gallery-container {
    flex: 3;
    background-color: #5e42a6;
    padding: 40px;
    > h1 {
      color: white;
      margin-bottom: 1rem;
    }
  }
}
